.example-boundary {
  height: 76vh;
  border: 1px solid red;
  position: relative;
  overflow: auto;
}

.configuration {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 17vh;
  >div {
    width: 49%;
    border: 1px solid;
    overflow: auto;
  }

  .iconList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.properties {
  margin-right: 1%;
}

img {
  width: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  cursor: pointer;
}
