<button class="deleteCon" (click)="onDeleteConnection()"> Delete connection</button>
<button class="deleteIcon" (click)="onDeleteIcon()"> Delete icon</button>

<div [class]="containerClassName" cdkScrollable appHandleKeyPress="Control" (keyPress)="onKeyPress($event)">
  <ng-template #placeholder></ng-template>
</div>
<div class="configuration">
  <div class="properties">
    <app-property-tab [iconProperties]="selectedIcon"></app-property-tab>
  </div>
  <div class="iconList">
    <ng-container *ngFor="let icon of iconDict | keyvalue">
      <img draggable="false" [src]="icon.value.ava" (click)="createComponent(null, icon.value)">
    </ng-container>
  </div>
</div>
