<button class="deleteCon" (click)="onDeleteConnection()"> Delete connection: {{isDeletingConnectionMode}}</button>
<button class="deleteIcon" (click)="onDeleteIcon()"> Delete icon: {{isDeletingIconMode}}</button>

<div class="example-boundary" cdkScrollable style="position: relative">
  <ng-template #placeholder></ng-template>
</div>
<div class="configuration">
  <div class="properties">
    <app-property-tab [iconProperties]="selectedIcon"></app-property-tab>
  </div>
  <div class="iconList">
    <ng-container *ngFor="let icon of iconList">
      <img draggable="false" [src]="icon.ava" (click)="createComponent(icon)">
    </ng-container>
  </div>
</div>
